<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FisureItUp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>HibernateConfig</display-name>
    <filter-name>HibernateConfig</filter-name>
    <filter-class>com.wglen.fisure.HibernateConfig</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HibernateConfig</filter-name>
    <url-pattern>/login.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>loginServ</display-name>
    <servlet-name>loginServ</servlet-name>
    <servlet-class>com.wglen.fisure.loginServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServ</servlet-name>
    <url-pattern>/loginServ</url-pattern>
  </servlet-mapping>
</web-app>